# Commercial Bank Customer Retention Prediction

## APSTA-GE.2401: Statistical Consulting

## Scripts

Created on: 12/07/2020

Modified on: 12/08/2020

## Supervised Learning Models

----

### Description

This script contains the machine learning models.

### Research Design

The strategy of supervised learning is to train models using the `X_train` data and validate model performance using the `y_train` data. After training, we fit the model to the `X_test` data. The model will then generate predictions, `y_test`, based on `X_test`. 

To increase model performance, we splited the train set into two sets: 80% of the train data goes to the `X_train` set and 20% of the data goes to the `X_test` set. Then, we conducted a 5-fold cross validation and selected the best performed model output. We also find tuned hyperparameters using randomized search.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder, StandardScaler

print('SUCCESS! All modules are imported.')

SUCCESS! All modules are imported.

----

In [3]:
X = pd.read_csv('../data/preprocess/X_train.csv')
y = pd.read_csv('../data/preprocess/y_train.csv')
X_true = pd.read_csv('../data/preprocess/X_test.csv')

### Dummy Coding

In [5]:
X.head().transpose()

,0,1,2,3,4
cust_no,0xb2d640a6,0xb2d4dd44,0xb2d69fef,0xb2d42c89,0xb2d90b58
X1,51000,0,20000,0,0
X2,0,0,0,0,0
X3,256.54,208.51,3265.03,1.41,13.38
X4,0,0,0,0,0
X5,0,0,0,333.01,0
X6,0,0,0,0,0
X7,0,0,0,0,0
X8,0,0,200000,0,0
B1,1,0,0,23,0
B2,2,0,0,0,0
B3,151422,0,0,0,0
B4,2,0,0,2,0
B5,101000,0,0,5500,0
B6,2019-09-12 04:09:00,2019-07-23 11:34:00,2019-08-18 23:54:00,2019-09-26 18:24:00,2019-08-15 21:15:00
B7,7,13,11,298,1
E1,2019-01-11,2018-06-20,2019-03-18,2018-03-28,2019-08-07
E2,2019-01-11,2018-06-20,2019-03-18,2018-03-28,2019-08-07
E3,2019-01-11,2018-06-20,2019-03-18,2018-03-28,2019-08-07
E4,2019-05-07,2018-07-16,2019-03-19,2018-08-29,NaN
E5,2019-08-08,2018-07-18,NaN,2018-03-28,2019-08-07
E6,2019-06-14,2018-08-01,2019-03-19,2019-07-23,NaN
E7,NaN,NaN,NaN,NaN,NaN
E8,NaN,NaN,NaN,NaN,NaN
E9,NaN,NaN,NaN,NaN,NaN
E10,2019-06-13,2019-09-27,2019-09-29,2018-05-14,2019-09-20
E11,NaN,NaN,NaN,NaN,NaN
E12,NaN,NaN,NaN,2018-09-14,NaN
E13,NaN,2018-07-16,NaN,2019-07-19,NaN
E14,NaN,NaN,NaN,2018-04-02,2019-08-15
E15,50000,2.49e+06,0,50000,39990
E16,2019-09-10,2018-08-02,NaN,2019-07-19,2019-08-15
E17,0,1.62e+06,0,60000,39990
E18,NaN,2018-08-01,NaN,2018-04-02,2019-08-16
C1,51256.5,208.51,223265,1.41,13.38
C2,2,1,3,1,1
I1,男性,女性,男性,男性,男性
I2,78,30,69,23,29
I3,黄金,普通客户,黄金,普通客户,普通客户
I4,0,0,0,0,0
I5,不便分类的其他从业人员,办事人员和有关人员,不便分类的其他从业人员,不便分类的其他从业人员,商业工作人员
I6,0,0,0,0,0
I7,0,0,0,0,0
I8,双鱼座,狮子座,摩羯座,双鱼座,狮子座
I9,NaN,NaN,NaN,NaN,NaN
I10,NaN,NaN,NaN,NaN,NaN
I11,0,0,0,0,0
I12,个人,个人,个人,个人,个人
I13,NaN,NaN,NaN,NaN,NaN
I14,NaN,NaN,NaN,NaN,NaN
I15,0,0,0,0,0
I16,1,0,1,0,0
I17,1,1,1,1,1
I18,1,1,1,1,1
I19,1,1,1,1,1
I20,0,0,0,1,0